[build]
  command = "npm run build"
  publish = "build"
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["@google-cloud/dialogflow"]
